body {
    background-color: #fff;
}

header .container {
    /* background-color: #4298df; */
}

.align-center {
    align-items: center;
}

.white {
    color: #fff
}

header a {
    color: #fff;
}

section a {
    color: #4298df
}

a:hover {
    color: #2b6cb0;
}

h1 {
    line-height: 1;
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(74,85,104,1);
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: -.025em;
}


.border-l {
    border-left: 1px solid #e2e8f0;
    border-top: none;
    border-bottom: none;
}

.border-r {
    border-right: 1px solid #e2e8f0;
}

svg.prev  {
    transform: rotate(180deg);
}

tr {
    background: #fff;
}
tr:hover td{
    background: rgb(237,242,247)
}

tr.no-hover td{
    background: #fff;
}

table {
    max-width: 900px
}


.contact-card-actions button {
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    padding: 10px;
}

form input[type="radio"] {
    width: 20px;
    height:20px;
}

.radio-label {
    line-height: 2;
    display: inline-block;
    position: relative;
    top: -2px;
}